<form role="form" method="post" action="/game">
  <div class="form-group">
    <label for="inputP1">Player 1: Name</label>
    <input type="text" class="form-control" id="inputP1" placeholder="Enter name" name="player1_name">
  </div>
  <div class="form-group">
    <label for="inputP2">Player 2: Name</label>
    <input type="text" class="form-control" id="inputP1" placeholder="Enter name" name="player2_name">
  </div>
  <button type="submit" class="btn btn-default">PLAY!</button>
</form>